/*-------------------- FORM CONTAINER --------------------*/
.form-background {
  background-color: rgba(115, 132, 45, 0.8);
  margin-left: 250px;
  margin-top: 0.3em;
  margin-bottom: 2em;
  border-radius: 0.625em 0em 0em 0.625em;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
}

.form-ctn {
  background-color: white;
  width: 100%;
  margin: 1em;
  border-radius: 10px;
  box-shadow: 0 0.5em 1em rgb(0 0 0 / 18%);
}

@media (max-width: 1230px) {
  .form-background {
    margin-left: 100px;
  }
}

@media (max-width: 425px) {
  .form-background {
    margin-left: 75px;
  }
  .form-ctn {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/*-------------------- FORM SECTION --------------------*/
.form-identity,
.form-address,
.form-information {
  margin-right: 6.875em;
  text-align: end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(60px, auto);
}

@media (max-width: 920px) {
  .form-identity,
  .form-address,
  .form-information {
    display: contents;
  }
}

/*-------------------- FORM INPUT --------------------*/
.form-input,
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-input {
  padding-right: 1.25em;
}

.form-date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1.25em;
}

.form-date-ctnnnnnn {
  display: flex;
  align-items: center;
}

.form-control,
.form-control-date {
  height: 2.875em;
  width: 250px;
  background-color: rgba(245, 245, 241, 1);
  border-color: rgba(147, 173, 24, 0.1);
  border-radius: 0.625em;
  border: #ccc 1px solid;
  margin-left: 1.25em;
  letter-spacing: 3px;
  font-size: 1em;
  font-family: "Gill Sans", sans-serif;
  padding: 0 0.857em;
}

.form-control-date {
  width: 273px;
  height: auto;
  padding: 0%;
}

.InputError {
  font-size: 0.625em;
  color: red;
  letter-spacing: 3px;
}

.invalid {
  border: red 2px solid;
}

@media (max-width: 920px) {
  .form-input,
  .form-date {
    margin-bottom: 20px;
  }
  .form-control,
  .form-control-date {
    margin: 10px 0 0 10px;
  }
}

/*-------------------- FORM LABEL --------------------*/
.form-label {
  font-size: 0.75em;
  letter-spacing: 3px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

@media (max-width: 425px) {
  .form-label {
    display: block;
    align-items: center;
    text-align: left;
    padding-left: 20px;
  }
}

/*-------------------- FORM DROPDOWN --------------------*/
.dropdown-container {
  position: relative;
}

.dropdown-content {
  max-height: 150px;
  overflow: scroll;
  background-color: rgba(245, 245, 241, 0.9);
  z-index: 1;
  position: absolute;
  right: 1.25em;
  margin: auto;
  text-align: left;
  width: 238px;
  list-style: none;
  border-radius: 0 0 0.625em 0.625em;
  padding: 15px 15px 5px 15px;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(147, 173, 24, 0.1);
  border-left: 2px solid rgba(147, 173, 24, 0.1);
  border-right: 2px solid rgba(147, 173, 24, 0.1);
}

.dropdown-content > li {
  padding-bottom: 0.625em;
  font-size: 0.875em;
}

.chevron {
  height: 12px;
  position: absolute;
  right: 25px;
  bottom: 35px;
  cursor: pointer;
}

.unfolded {
  border-radius: 0.625em 0.625em 0 0;
}

.display {
  display: none;
}

@media (max-width: 768px) {
  .chevron {
    top: 24px;
  }
}

@media (max-width: 425px) {
  .chevron {
    top: 37px;
  }
}

/*-------------------- FORM BUTTON --------------------*/
.create-button {
  width: 300px;
  height: 2.813em;
  border-radius: 10px;
  background-color: rgba(115, 132, 45, 0.8);
  border: 0ch;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  box-shadow: 0 0.5em 1em rgb(0 0 0 / 18%);
  font-size: 0.8em;
}

.create-button-ctn {
  text-align: end;
  margin: 1.875em;
}

@media (max-width: 425px) {
  .create-button {
    width: 200px;
  }
  .create-button-ctn {
    text-align: center;
  }
}

:focus-visible {
  outline: none;
}
