/*-------------------- FORM CONTAINER --------------------*/
.form-background {
    background-color: rgba(115, 132, 45, 0.3);
    margin-left: 280px;
    border-radius: 0.625em 0em 0em 0.625em;
    display: flex;
    color:  rgba(0, 0, 0, 0.6);;
}

.form-ctn {
    background-color: white;
    width: 96%;
    margin: 1.875em;
}

/*-------------------- FORM SECTION --------------------*/
.form-identity, .form-address, .form-information {
    margin-right: 6.875em;
    text-align: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(60px, auto);
}


/*-------------------- FORM INPUT --------------------*/
.form-input, .dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form-input {
    padding-right: 1.25em;
}

.form-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1.25em;
}

.form-date-ctn {
    display: flex;
    align-items: center;
}

.form-control, .form-control-date {
    height: 2.875em;
    width: 250px;
    background-color: rgba(245, 245, 241, 1);
    border-color: rgba(147, 173, 24, 0.1);
    border-radius: 0.625em;
    border: #ccc 1px solid;
    margin-left: 1.25em;
    letter-spacing: 3px;
    font-size: 0.8em;
    font-family: "Gill Sans", sans-serif;
    padding: 0 0.857em;
}

.form-control-date {
    width: 267px;
    height: auto;
    padding: 0%;
}

.form-address-state, .form-department {
    display: flex;
    justify-content: flex-end;
}

.InputError {
    font-size: 0.625em;
    color: red;
    letter-spacing: 3px;
}

.invalid {
    border: red 2px solid;
}

/*-------------------- FORM LABEL --------------------*/
.form-label {
    font-size: 0.75em;
    letter-spacing: 3px;
    font-weight: 400;
}

.form-address-state > label, .form-department > label {
    display: flex;
    height: 2.813em;
    align-items: center;
}

/*-------------------- FORM DROPDOWN --------------------*/
.dropdown-container {
    position: relative;
}

.dropdown-content {
    max-height: 150px;
    overflow: scroll;
    background-color: rgba(245, 245, 241, 0.9);
    z-index: 1;
    position: absolute;
    right: 1.25em;
    margin: auto;
    text-align: left;
    width: 234px;
    list-style: none;
    border-radius: 0 0 0.625em 0.625em;
    padding: 15px 15px 5px 15px;
    letter-spacing: 2px;
    border-bottom: 2px solid rgba(147, 173, 24, 0.1);
    border-left: 2px solid rgba(147, 173, 24, 0.1);
    border-right: 2px solid rgba(147, 173, 24, 0.1);
}

.dropdown-content > li {
    padding-bottom: 0.625em;
    font-size: 0.875em;
}

.chevron {
    height: 12px;
    position: relative;
    right: 25px;
    bottom: 24px;
}

.unfolded {
    border-radius: 0.625em 0.625em 0 0;
}

.display {
    display: none;
}

/*-------------------- FORM BUTTON --------------------*/
.create-button {
    width: 300px;
    height: 2.813em;
    border-radius: 10px;
    background-color: rgba(115, 132, 45, 0.6);
    border: 0ch;
    letter-spacing: 3px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    box-shadow: 0 1px 1px grey;
    font-size: 0.75em;
}

.create-button-ctn {
    text-align: end;
    margin: 1.875em;
}

/*-------------------- MODAL --------------------*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #000;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.modal-ctn {
    background-color: rgba(115, 132, 45, 1);
    box-shadow: 0px 0px 0px 3px lightgrey;
    border-radius: 10px;
    width: 25%;
    height: 15%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 20px;
}

.modal-close {
    padding: 8px 12px 8px 12px;
    border-radius: 50%;
    border: none;
    font-size: 16px;
    position: relative;
    left: 195px;
    bottom: 15px;
}



:focus-visible {
    outline: none
}



.react-calendar { 
    position: absolute;
    z-index: 2;
}

.calendar {
    direction: rtl;
}

.rw-widget-input {
    background-color: rgba(245, 245, 241, 1);
    width: inherit;
}

