.form-identity, .form-address, .form-information {
    margin-right: 110px;
    text-align: end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(45px, auto);
}


.form-label {
    padding-right: 20px;
    font-size: 12px;
    letter-spacing: 3px;
}

.form-address-state > label, .form-department > label {
    display: flex;
    height: 45px;
    align-items: center;
}

.form-control {
    height: 30px;
    width: 250px;
    background-color: rgba(245, 245, 241, 1);
    border-color: rgba(147, 173, 24, 0.1);
    border-radius: 10px;
    margin-left: 20px;
}

.chevron {
    height: 12px;
    position: absolute;
    right: 6px;
    top: 12px;
}

.form-address-state, .form-department {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropdown-container {
    position: relative;

}

.dropdown-content {
    max-height: 150px;
    overflow: scroll;
    background-color: rgba(245, 245, 241, 1);
    z-index: 1;
    position: absolute;
    margin: auto;
    text-align: left;
    width: 224px;
    list-style: none;
    border-radius: 0 0 10px 10px;
    padding: 15px;
    letter-spacing: 2px;
    padding-bottom: 24px;
    border-bottom: 2px solid rgba(147, 173, 24, 0.1);
    border-left: 2px solid rgba(147, 173, 24, 0.1);
    border-right: 2px solid rgba(147, 173, 24, 0.1);
}

.dropdown-content > li {
    padding-bottom: 10px;
}

.form-background {
    background-color: rgba(245, 245, 241, 1);
    margin-left: 280px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
}

.form-ctn {
    background-color: white;
    width: 96%;
    margin: 30px;
}

.create-button {
    width: 300px;
    height: 45px;
    border-radius: 10px;
    background-color: rgba(90, 111, 7, 0.6);
    border: 0ch;
    letter-spacing: 5px;
    color: white;
}

.create-button-ctn {
    text-align: end;
    margin: 30px;
}

.unfolded {
    border-radius: 10px 10px 0 0;
}