body {
  margin: 0;
  font-family: "Gill Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Gill Sans", sans-serif;
}

h1,
h2 {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 1.25em;
  letter-spacing: 5px;
}

h3 {
  width: 150px;
  font-size: 0.75em;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: left;
}

h4 {
  margin: 25px 15px 15px 15px;
  padding-left: 20px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 3px;
  text-align: left;
}

.App {
  text-align: center;
}

@media (max-width: 920px) {
  h1 {
    font-size: 1em;
  }
  h2 {
    font-size: 18px;
    text-align: right;
  }
}

@media (max-width: 425px) {
  h1 {
    font-size: 0.8em;
    margin: 5px 0 5px 0;
  }
  h2 {
    font-size: 12px;
    text-align: right;
  }
}
