/*-------------------- HEADER --------------------*/
.header {
        display: flex;
        justify-content: space-between;
    }

.logo-ctn {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 20px;
        gap: 20px;
        letter-spacing: 3px;
        padding-top: 10px;
    }

.logo-create{ 
        height: 40px;    
    }

.header-ctn {
        padding-right: 20px;
        gap: 20px;
        display: flex;
        align-items: center;
        color: white;
    }

/*-------------------- SIDE --------------------*/
.side {
        padding-top: 150px;
        position: absolute;
    }

.side-icon {
        padding-right: 10px;
    }

.side-ctn {
        display: grid;
        row-gap: 30px;
    }

.side-section {
        display: flex;
        align-items: center;
        width: 210px;
        height: 40px;
        justify-content: center;
    }

.active {
        background-color:rgba(115, 132, 45, 0.6);
        color: white;
        font-weight: bolder;
        border-radius: 0 10px 10px 0;
        box-shadow: 0 1px 1px grey
    }

a {
        text-decoration: none;
        color: black;
    }

/*-------------------- FOOTER --------------------*/

.footer {
        letter-spacing: 5px;
        margin-top: 50px;
        font-size: 10px;
    }