.flex-column {
    flex-direction: column;
  }

.table-ctn {
    background-color: white;
    margin: 0px 30px 0px 30px
  }

  @media (max-width: 425px) {
    .table-ctn {
      margin: 0px 10px 0px 10px
    }
}

/*-------------------- HEADER TABLE --------------------*/   
thead {
    font-size: 14px;
    color:  rgba(0, 0, 0, 0.7);; 
  }

.chevronUp {
    transform: translateX(8px);
  }

.chevronDown {
    transform: translateX(6px) rotate(180deg);
  }

.chevronUp, .chevronDown {
    cursor: pointer;
    font-size: 8px;
  }

  @media (max-width: 425px) {
    thead {
      font-size: 8px;; 
    }
    .chevronUp {
      transform: translateX(2px);
    }
  
  .chevronDown {
      transform: translateX(0px) rotate(180deg);
    }
}

/*-------------------- BODY TABLE --------------------*/  
tbody {
    font-size: 12px;
  }

tbody tr:nth-child(odd) {
    background-color: rgba(245, 245, 241, 1);
  }
  
tbody tr:nth-child(even) {
    background-color: white;
  }

tr {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    letter-spacing: 2px;
    align-items: center;
  }

  td, th {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }  

  @media (max-width: 425px) {
    tbody {
      font-size: 8px;
    }
    td, th {
      width: -webkit-fill-available;
    } 
    tr {
      padding: 10px 3px 10px 3px;
      margin: 0;
    }
    th {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline;
    }
}

/*-------------------- TABLE LAYOUT --------------------*/  

.table-layout-ctn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    letter-spacing: 2px;
    height: 50px;
  }

.entries-number, .show-entries {
    margin-left: 30px;
  }

.pagination, .search {
    margin-right: 30px;
  }

b {
    font-size: 16px;
    background-color: white;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
  }

.inactive {
    color: gray;
  }

.pointer {
    cursor: pointer;
  }

@media (max-width: 425px) {
  .entries-number, .show-entries {
    margin-left: 4px;
    font-size: 10px;
    }
    .pagination, .search {
      margin-right: 10px;
      font-size: 10px;
    }
    b {
      font-size: 10px;
    }
    .search {
      font-size: 10px;
    }
}