/*-------------------- GENERAL --------------------*/
.flex-column {
  flex-direction: column;
}

.table-ctn {
  background-color: white;
  margin: 0px 30px 0px 30px;
  border-radius: 10px;
  box-shadow: 0 0.5em 1em rgb(0 0 0 / 18%);
}

@media (max-width: 425px) {
  .table-ctn {
    margin: 0px 10px 0px 10px;
  }
}

/*-------------------- HEADER TABLE --------------------*/
thead {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.chevronUp {
  transform: translateX(8px);
}

.chevronDown {
  transform: translateX(6px) rotate(180deg);
}

.chevronUp,
.chevronDown {
  font-size: 8px;
  cursor: pointer;
}

@media (max-width: 425px) {
  thead {
    font-size: 8px;
  }
  .chevronUp {
    transform: translateX(2px);
  }

  .chevronDown {
    transform: translateX(0px) rotate(180deg);
  }
}

/*-------------------- BODY TABLE --------------------*/
tbody {
  font-size: 12px;
}

tbody tr:nth-child(odd) {
  background-color: rgba(245, 245, 241, 1);
}

tbody tr:nth-child(even) {
  background-color: white;
}

tr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  letter-spacing: 2px;
}

td,
th {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 425px) {
  tbody {
    font-size: 8px;
  }
  td,
  th {
    width: -webkit-fill-available;
  }
  tr {
    margin: 0;
    padding: 10px 3px 10px 3px;
  }
  th {
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/*-------------------- TABLE LAYOUT --------------------*/

.table-layout-ctn {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  letter-spacing: 2px;
}

.entries-number,
.show-entries {
  margin-left: 30px;
}

.show-entries {
  display: flex;
  font-size: initial;
}

.entries {
  display: flex;
  align-items: center;
  font-size: 0.75em;
  letter-spacing: 3px;
  font-weight: 600;
  transform: translateX(-2px);
}

.form-control-show {
  height: 2.875em;
  width: 40px;
  background-color: rgba(245, 245, 241, 1);
  border: #ccc 1px solid;
  border-color: rgba(147, 173, 24, 0.1);
  border-radius: 0.625em;
  margin-left: 1.25em;
  padding: 0 0.857em;
  font-family: "Gill Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 3px;
}

.form-content-show {
  background-color: rgba(245, 245, 241, 0.9);
  z-index: 1;
  position: absolute;
  right: 1.28em;
  width: 3em;
  margin: auto;
  padding: 5px 5px 3px 5px;
  border-radius: 0 0 0.625em 0.625em;
  border-bottom: 2px solid rgba(147, 173, 24, 0.1);
  border-left: 2px solid rgba(147, 173, 24, 0.1);
  border-right: 2px solid rgba(147, 173, 24, 0.1);
  text-align: left;
  letter-spacing: 2px;
  list-style: none;
}

.chevron-show {
  position: absolute;
  right: 22px;
  bottom: 10px;
  height: 10px;
  width: 16px;
}

.unfolded {
  border-radius: 0.625em 0.625em 0 0;
}

.pagination,
.search {
  margin-right: 30px;
}

.search-input {
  background-color: rgba(245, 245, 241, 1);
  height: 2.5em;
  width: 200px;
  border: #ccc 1px solid;
  border-color: rgba(147, 173, 24, 0.1);
  border-radius: 0.625em;
  margin-left: 1.25em;
  padding: 0 0.857em;
  font-family: "Gill Sans", sans-serif;
  font-size: 1em;
  letter-spacing: 3px;
  box-shadow: 0 0.5em 1em rgb(0 0 0 / 18%);
}

.form-label-search {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3px;
}

b {
  background-color: white;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  font-size: 16px;
}

.inactive {
  color: gray;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 425px) {
  .entries-number,
  .show-entries {
    margin-left: 4px;
    font-size: 10px;
  }
  .pagination,
  .search {
    margin-right: 10px;
    font-size: 10px;
  }
  b {
    font-size: 10px;
  }
  .search {
    font-size: 10px;
  }
}
